<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Savvy Traveller</title>
</head>

<body>
    <div id="wrapper">
        <header>
            <h1>Savvy Traveller</h1>
        </header>
        <main>

            
            <section id="form">
                <form id="search-form">
                    <div id="search-text-wrapper">
                        <label for="search_txt" class="label">Destination</label>
                        <input id="search_txt" name="search_txt" type="text" placeholder="enter location ...."
                            aria-label="search location">
                    </div>

                    <div id="countriesList">
                        <label for="countriesDD" class="label">Country</label>
                        <select id="countriesDD" name="countriesDD">
                            <option value="none">- Select Country -</option>
                        </select>
                    </div>

                  
                        <div id="fromDate">
                            <label for="dpFromDate" class="label">Arrival</label>
                            <input type="date" name="dpFromDate" id="dpFromDate" />
                        </div>
                        <div id="toDate">
                            <label for="dpToDate" class="label">Departure</label>
                            <input type="date" name="dpToDate" id="dpToDate" />
                        </div>
                

                    <div id="submit-container">
                        <button id="search" class="search_button" onclick="return Client.handleSubmit(event)">
                            Search
                        </button>
                    </div>
                </form>
                <div id="validation"></div>
            </section>
            <section id="results">
                        
            </section>
            <section id="trips-list"></section>
        </main>
        <footer>
            <p>&copy; Mark Morgan 2021</p>
        </footer>
    </div>
</body>

</html>