<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <div id="wrapper">
        <header>
            <h1>Travel App</h1>
        </header>
        <main>
            <section id="form">
                <form id="search-form">
                    <fieldset>
                        <label for="search_txt">Place</label>
                        <input id="search_txt" type="text" placeholder="enter location ....">
                    </fieldset>
                    <div id="submit-container">
                        <button id="search" class="search_button">
                            Search
                        </button>
                    </div>
                </form>
            </section>
            <section id="results">
                    Results here
            </section>
        </main>
        <footer>
            @copy; Mark Morgan 2021
        </footer>
    </div>
</body>
</html>