<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="wrapper">
        <header>
            <h1>Travel App</h1>
        </header>
        <main>
            <section id="form">
                <form id="search-form">
                    <div id="search-text-wrapper">
                        <input id="search_txt" name="search_txt" type="text" placeholder="enter location ...."
                            aria-label="search location">
                    </div>
                    <div id="submit-container">
                        <button id="search" class="search_button" onclick="return Client.handleSubmit(event)">
                            Search
                        </button>
                    </div>
                </form>
                <div id="validation"></div>
            </section>
            <section id="results">
                Results here
            </section>
        </main>
        <footer>
            <p>&copy; Mark Morgan 2021</p>
            </footer>
    </div>
</body>

</html>