@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0;
}

#wrapper{
    min-height:100vh;
    display:grid;
    grid-template-rows: auto 1fr auto;   
    margin:0;
    padding:0;
    width:100%;
}

header{
    background-color: darkblue;
    display: flex;
    justify-content: center;
    padding:1em;
     background-image: url('../media/world-map.png');   
    background-blend-mode:soft-light;
    background-size:cover;
}

h1{
    color:whitesmoke;
    text-align: center;
}

main{
    margin:1rem;
}

#form{
  
    margin:1rem;
}

#search-form{  
    display: grid;    
    padding:0.5rem;
    grid-template-columns: repeat(1fr,2);
}

#search-text-wrapper{
    padding:0.5rem;
}

#search_txt{
    padding:0.5rem;
    width: auto;
}

#submit-container{
    padding:0.5rem;
}

.search_button{
    background-color: orange;
    padding:0.5rem;
    box-shadow: 3px 5px gray ;
}

.search_button:hover{
    background-color: yellowgreen;
  box-shadow: 3px 5px gray ;
}


#results{
    margin:1rem;   
    min-height:600px;    
}


footer{
    background-color: darkblue;
    height:100px;
    color:whitesmoke;
    text-align: center;
    background-image: url('../media/world-map.png');   
    background-blend-mode:soft-light;
    background-size:cover;
}

#validation{
    padding:1rem;

}

.error{
    color:red;
    font-weight: bold;
   margin-left:10px;
}


.label{
    display:block;   
    padding:0.5rem;
}


#datepickers-wrapper{   
    padding:0.5rem;
}

#countriesList{
    padding:0.5rem;
}


@media (max-width: 760px) {
    #search-form{  
        max-width: 80%;
        display: flex;
        padding:0.5rem;
        flex-direction: column;        
    }
    
    #submit-container{
      text-align: right;
    }

}